{% extends 'layout.html.twig' %}

{% block body %}

    <div class="wrapper">
        <div class="notebook">
            <div class="content no-sidebar">

                <div class="header login">
                    <div class="title">
                        <h1>Angle Planner</h1>
                        <h3>Sign up</h3>
                    </div>
                </div>

                <div class="login-box">
                    <form method="post">
                        <input class="login-control" type="text" name="firstName" placeholder="first name" value="">
                        <input class="login-control" type="text" name="lastName" placeholder="last name" value="">
                        <input class="login-control" type="email" name="email" placeholder="email" value="">
                        <input class="login-control" type="password" name="password" placeholder="password">
                        <input class="login-control" type="password" name="password" placeholder="re-type passoword">
                        <button type="submit" class="login-control">Register</button>

                        <input type="hidden" name="_csrf_token" value="">
                    </form>

                    <a href="{{ path('app_login') }}">I already have an account</a>
                </div>

            </div>
        </div>


        <footer>
            <p class="copy">Built with <small>&hearts;</small> by <a href="https://www.angle.mx" target="_blank">Angle</a>.</p>
            <p class="links">
                <a href="#">Terms of Use</a> |
                <a href="#">Privacy Policy</a>
            </p>
        </footer>

    </div>
{% endblock %}