{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h1>New Task</h1>
</div>
<div class="details">
    <p>
        lorem ipsum, dolor sunt dolors
    </p>
</div>
<div class="metadata">
    <p>
        created on week 2018-12 by Edmundo Fuentes
    </p>
</div>

<div class="action-buttons">
    <a href="#" class="btn-outline">&odot; re-open</a>
    <a href="#" class="btn-outline">&otimes; complete</a>
    <a href="#" class="btn-outline">&odash; cancel</a>
</div>