{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h3>{{ task.notebook.name }}</h3>
    <h2>{{ task.concept }}</h2>
</div>
<div class="details">
    {% if task.details %}
        {{ task.details|markdown }}
    {% else %}
        <p><em>Add details.. (pending)</em></p>
    {% endif %}
</div>

{#
<div class="log">
    <ul class="dashed">
        <li>created on 2019-01-23 15:43 by Edmundo Fuentes</li>
        <li>closed on 2019-01-23 17:51 by Edmundo Fuentes</li>
    </ul>
</div>
#}
<p><em>Pending log..</em></p>

<div class="action-buttons">
    <a href="#" class="btn-outline">&odot; re-open</a>
    <a href="#" class="btn-outline">&otimes; complete</a>
    <a href="#" class="btn-outline">&odash; cancel</a>
</div>