{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h3>Notebook name</h3>
    <h2>Task title: do this and that</h2>
</div>
<div class="details">
    {{ form(form) }}
</div>
<div class="metadata">
    <p>
        created on week 2018-12 by Edmundo Fuentes
    </p>
</div>

<div class="action-buttons">
    <a href="#" class="btn-outline">&odot; re-open</a>
    <a href="#" class="btn-outline">&otimes; complete</a>
    <a href="#" class="btn-outline">&odash; cancel</a>
</div>