{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h1>New Notebook</h1>
</div>

<div class="details">
    {{ form(form) }}
</div>

<div class="action-buttons">
    <a href="#" class="btn-outline">&check; save</a>
</div>