{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h1>New Notebook</h1>
</div>

<div class="form">
    <input type="text" class="input-big" name="" placeholder="Write notebook name..">

    <div class="action-buttons">
        <button type="submit" class="btn-outline">&check; save</button>
    </div>
</div>

<div class="details">
    {{ form(form) }}
</div>
