{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h3>{{ notebook.name }}</h3>
</div>
<div class="share">
    <h4>Shared With</h4>
    <ul>
        <li>Edmundo Fuentes &lt;efuentes@angle.mx&gt;</li>
    </ul>
</div>

<div class="action-buttons">
    <a href="#" class="btn-outline">&odash; delete</a>
</div>