{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#">&times; close</a>
</div>
<div class="title">
    <h1>Notebook name</h1>
    <h3>Notebook name</h3>
    <h2>Task title: do this and that</h2>
</div>
<h4>Shared With</h4>
<ul>
    <li>Edmundo Fuentes &lt;efuentes@angle.mx&gt;</li>
</ul>
<div class="details">
    <p>
        lorem ipsum, dolor sunt dolors
    </p>
</div>
<div class="metadata">
    <p>
        created on week 2018-12 by Edmundo Fuentes
    </p>
</div>

<div class="action-buttons">
    <a href="#" class="btn-outline">&odot; re-open</a>
    <a href="#" class="btn-outline">&otimes; complete</a>
    <a href="#" class="btn-outline">&odash; cancel</a>
</div>