// Google Fonts: Patrick Hand (Small Caps version) https://fonts.google.com/specimen/Patrick+Hand+SC
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin-ext');
// Google Fonts: Patrick Hand (Regular version with lowercase) https://fonts.google.com/specimen/Patrick+Hand
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin-ext');


// Config
$block-size: 24px; // note: this should match the current page size
$page-width-blocks: 45; // about 1080 px with block size 18px
$modal-width-blocks: 24; // about __ px with block size 18px
$page-width: $page-width-blocks * $block-size;
$modal-width: $modal-width-blocks * $block-size;

$page-min-height-blocks: 34; // about 816px with block size 18px
$page-min-height: $page-min-height-blocks * $block-size;

// Color pallete: https://encycolorpedia.com/f2eecb
$color-notebook: #f2eecb;
$color-text: #282723;
$color-text-lighter: #4b4a46;
$color-text-even-lighter: #777;
$color-background: #f1f1f1;

$sidebar-width-blocks: 8;


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-background;
}


body {
  //font-family: 'Patrick Hand SC', cursive;
  font-family: 'Patrick Hand', cursive;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand SC', cursive;
}

.wrapper {
  max-width: $page-width;
  width: 100%;
  margin: 0 auto;
  padding: $block-size 0 0 0; /* responsive, see below */
}



// TODO: Migrate to Flexbox, it's 2019 already..

.notebook {
  width: 100%;
  box-sizing: border-box;

  background-color: $color-notebook;
  background-image: url('../img/grid-dots.png');
  background-repeat: repeat;
  background-size: $block-size;
  background-position: top (0.5 * $block-size) left (0.5 * $block-size);

  min-height: $page-min-height;
  border-style: hidden;
  padding: 0.5 * $block-size;

  box-shadow: 0 5px 10px 2px #ddd;
  border-radius: (0.25 * $block-size);

  position: relative;

  .content {

    padding-right: (1 + $sidebar-width-blocks) * $block-size;

    &.no-sidebar {
      padding-right: 0;
    }

    .header {
      text-align: center;
      height: 3 * $block-size;
      width: 100%;
      margin-bottom: 1 * $block-size;

      &.login {
        margin-top: 4 * $block-size;
        margin-bottom: 1 * $block-size;
        height: 5 * $block-size;
        .title {
          h1 {
            font-size: 48px;
          }
        }
      }

      .arrow {
        display: inline-block;
        font-size: 48px;
        padding: 0 10px;
        height: 100%;

        a, a:active, a:hover, a:visited {
          color: $color-text;
          text-decoration: none;
        }
      }

      .title {
        display: inline-block;
        h1 {
          margin: 0;
          //line-height: 2 * $block-size;
        }
        h3 {
          margin: 0;
          //line-height: 1 * $block-size;
        }
      }
    }

    .task-list {
      margin: 0;
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;

      font-size: 16px;
      line-height: $block-size;

      td {
        //border: 1px solid black;
        vertical-align: top;
        padding: 0px 4px;
        box-sizing: border-box;
      }

      .task {
        width: 100%;

        .block {
          height: $block-size;
          width: 1 * $block-size;
          text-align: center;

          &.option {
            cursor: pointer;
          }
        }

        .tag {
          height: $block-size;
          width: 5 * $block-size; /* responsive, see below */
          text-align: left;

          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
        }

        .concept {
          height: $block-size;
          //padding-left: $block-size;
          //width: $concept-blocks * $block-size;
          text-align: left;

          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;

          &.striked {
            text-decoration: line-through;
          }
        }
      }
    }

    .notebook-input {
      background-color: transparent;
      border: none;
      font-family: 'Patrick Hand', cursive;
      font-size: 16px;
      color: $color-text-lighter;

      &:focus {
        outline: none;
      }
    }

    .login-box {
      width: 20 * $block-size;
      margin: 0 auto;

      .login-control {
        width: 100%;
        height: 2 * $block-size;
        margin-bottom: 1 * $block-size;

        font-family: 'Patrick Hand', cursive;
        font-size: 24px;
        line-height: 32px;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid $color-text-lighter;
        border-radius: 10px;
        background-color: white;
      }
    }
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: $sidebar-width-blocks * $block-size;

    position: absolute;
    top: 0;
    right: 0.5 * $block-size;
    height: 100%;
    overflow: auto;

    .sidebar-content {
      padding-left: 4px;
    }
  }
}

footer {
  width: 100%;
  margin: 30px 0 10px 0;

  text-align: center;
  font-family: 'Patrick Hand SC', cursive;

  color: $color-text-lighter;

  a {
    color: $color-text-lighter;
    text-decoration: none;

    border-bottom: 1px dotted $color-text-lighter;
  }

  .copy {
    font-size: 14px;
  }

  .links {
    font-size: 12px;
    a {
      margin: 0 5px;
    }
  }
}

.modal-overlay {
  background: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 100;

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* hidden */
  opacity: 0;
  pointer-events: none;

  .modal-wrapper {

    max-width: $modal-width;
    width: 100%;
    margin: 0 auto;
    padding: (0.5*$block-size) 0 0 0; /* responsive, see below */


    .modal-content {
      position: relative;
      padding: 5px 10px;

      background-color: $color-notebook;
      //background-image: url('../img/grid-dots.png');
      //background-repeat: repeat;
      //background-size: $block-size;
      //background-position: top (0.5 * $block-size) left (0.5 * $block-size);

      border-radius: 0.25 * $block-size;
      //border: 1px solid $color-text;
      box-shadow: 0 5px 10px 2px #ddd;
      box-sizing: border-box;

      .top-buttons {
        position: absolute;
        right: 10px;
        top: 5px;
        float: right;

        a, a:hover, a:visited, a:active {
          color: $color-text;
          text-decoration: none;
        }
      }

      .title {
        margin-bottom: 1 * $block-size;
        h1, h2, h3, h4 {
          margin: 0;
        }
      }

      .action-buttons {
        width: 100%;
        text-align: center;
        padding: (1 * $block-size) 0;
      }
    }


  }
}

.open-modal .wrapper {
  /* Blur and de-color */
  //filter: blur(5px) grayscale(50%);
  filter: blur(2px) grayscale(75%);

  /* Recede */
  transform: scale(0.95);
}

.open-modal .modal-overlay {
  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;
}

.wrapper, .modal-overlay {
  transition: all 0.4s ease; /* prefix me */
}


/* ALERTS */
.alert {
  position: fixed;
  float: right;
  top: 5px;
  left: 5px;

  width: 16 * $block-size;
  min-height: 2 * $block-size;

  //box-shadow: 0 5px 10px 2px #ddd;
  box-shadow: 0 3px 10px 1px #777;
  border-radius: (0.25 * $block-size);

  z-index: 100;

  &.success {
    background-color: #00a65a; // from AdminLTE
    color: white;
  }

  &.danger {
    background-color: #dd4b39; // from AdminLTE
    color: white;
  }

  .alert-content {
    padding: 4px 25px 4px 15px;

  }

  .alert-close {
    &, &:active, &:hover, &:visited {
      position: absolute;
      right: 15px;
      top: 20px;
      color: white;
      text-decoration: none;
    }
  }

}


/* HELPERS */
.text-center {
  text-align: center;
}

.btn-outline {
  &, &:hover, &:visited, &:active {
    color: $color-text;
    text-decoration: none;
    border: 1px solid $color-text;
    padding: 4px 8px;
    border-radius: 0.25 * $block-size;
    margin: 0 10px;
  }
}

.btn-new-task {
  &, &:hover, &:visited, &:active {
    color: $color-text-even-lighter;
    text-decoration: none;
  }
}

.btn-text-light {
  &, &:hover, &:visited, &:active {
    color: $color-text-even-lighter;
    text-decoration: none;
  }
}

.btn-text {
  &, &:hover, &:visited, &:active {
    color: $color-text;
    text-decoration: none;
  }
}

/* RESPONSIVE */

.mobile-only, .mobile-only-inline {
  display: none;
}

@media only screen and (max-width: 420px) {
  .wrapper {
    padding: 0;
  }

  .notebook {
    .header.login {
      margin-top: 2 * $block-size;
    }

    .task-list {
      .task {
        .tag {
          width: 4 * $block-size;
        }
        .option {
          display: none;
        }
      }
    }

    .login-box {
      width: 100%;
    }
  }

  .mobile-only {
    display: block;
  }

  .mobile-only-inline {
    display: inline-block;
  }

  .hide-mobile {
    display: none;
  }
}